<mat-dialog-content class="mat-typography container">
    <h2 mat-dialog-title class="title">COMENTÁRIOS</h2>
    <!--  <div *ngIf="tarefa?.comentarios != [] ">
        <h1>ESSA TAREFA NÃO POSSUI COMENTÁRIOS</h1>
    </div>
    -->
    <div *ngFor="let comentario of tarefa?.comentarios">
        <h3 class="subtitle"> Comentário Nº {{comentario.id}} </h3>
        <p>
            - {{comentario.texto}}
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>SAIR</button>
</mat-dialog-actions>